<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Página Usuário</title>
  </head>
  <body>
    <h1> Perfil <%= usuarDados.nome %></h1>
    <ul>
      <li><img src=<%= usuarDados.avatar %> /></li>
      <li><%= usuarDados.nome %></li>
      <li><%= usuarDados.email %></li>
    </ul>
  </body>
</html>
